/*GENERAL STYLES*/

:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --background-main-footer: #2f303a;
  --focus-color: #2196f3;
  --white-color: #f5f5f5;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.list {
  list-style: none;
}

.link,
.logo {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--focus-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*HEADER*/
.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--third-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contacts-item {
  margin-right: 50px;
  
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.logo-header {
  margin-right: 93px;
}

.first-part {
  color: var(--focus-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-nav-item:not(:last-child) {
  margin-right: 50px;
}
.header-nav-link {
  color: var(--main-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contacts {
  color: var(--second-color);
  display: block;
  
}
.header-icon:hover{
  fill: #2196f3;
}
.header-icon{
  fill: #757575;
  margin-right: 10px;
}




/*HERO STUDIO*/
.main-section {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-background.jpg);
  background-position: center;
  
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;


  background-color: var(--background-main-footer);
}
.main-section-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}
.button {
  padding: 10px 32px;
  border: none;
  
  


  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Our peculiarities */
.section-peculiarities{
  color: var(--white-color);
  padding-top: 94px;
}
.peculiarities-list {
  display: flex;
}
.list-item {
  width: 270px;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.peculiarities {
  margin-bottom: 10px;
  width: 270px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}
.peculiarities-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.peculiarities-background{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  background: #F5F4FA;

}

/* About */
.about-works{
  color: var(--white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.about {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.about-photo {
  display: flex;
}
.about-photo-item:not(:last-child) {
  margin-right: 30px;
}
/* Our team */
.background-photo {
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.background-about {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
}
.about-team {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.photo-item:not(:last-child) {
  margin-right: 30px;
}
.our-team {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--main-color);
}
.our-team-item {
  font-weight: 400;
  color: var(--second-color);
  margin-bottom: 16px;
}
.about-icon-list{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.about-icon-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.about-icon-item:hover{
  background: #2196F3;
  border-radius: 50%;
}
.about-icon{
  fill: #AFB1B8;
}
.about-icon:hover{
  fill: #ffffff;
  
}
/* Clients */
.clients{
padding-top: 94px;
padding-bottom: 94px;
}
.clients-title{
margin-bottom: 50px;

font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.clients-list{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
}
.clients-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.clients-item:hover{
  border: 1px solid #2196F3;
  }
.clients-icon{
  fill: #AFB1B8;
}  
.clients-icon:hover{
  fill: #2196f3;
}



/*HERO PORTFOLIO*/
.background-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;

  color: var(--white-color)
}
.btn-list{
  display:flex;
  justify-content: center;
  margin-bottom: 50px;
  }
.btn-item:not(:last-child){
margin-right: 8px;
}  
.main-btn {
  padding: 6px 22px;
  border: none;
  
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
}

  

.main-btn:hover,
.main-btn:focus {
  background-color: var(--focus-color);
  color: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.photo-list{
  display:flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.portfolio{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  
}
.title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.text-link{
  display: block;
}
.text-link:hover,
.text-link:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }


/*FOOTER*/

.footer-item-adress {
  margin-bottom: 10px;
}
.footer-item-mail {
  margin-bottom: 10px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-main-footer);
}
.footer-container{
  display: flex;
  align-items: baseline;
}
.footer-div{
  margin-right: 70px;
}
.second-part {
  color: var(--third-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.footer-adress {
  color: var(--third-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
.font-style {
  margin-top: 20px;
  font-style: normal;
}
.footer-text{
margin-bottom: 20px;

font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-icon-item{
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  }
  .footer-icon{
    fill: #ffffff;
  }
